main {
    background-color: #f6f6f6;
}
#top-banner-cont {
    display: flex;
    justify-content: center;
}
#top-banner {
    border-radius: 10px;
    width: 1000px;
    height: 200px;
    margin-top: 10px;
}
.label-input-controlled {
    margin-top: 5px;
}
/*header*/
#header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    /*margin-top: 5px;*/
    margin-bottom: -10px;
}
#header-top-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
}
#header-top a {
    color: black;
}
#search-form {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-right: 10px;
}
#search-form input {
    width: 100%;
    margin-right: 10px;
}
#navbarcontent {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
}
#auth-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 18%;
}
#nav-liked-button {
    margin-right: 10px;
}
#nav-signup-butt {
    margin-left: 10px;
    margin-right: 10px;
}
#main-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
#order-butt {
    margin-right: 10px;
}

/*footer*/
footer {
    color: white;
}
#foot-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#foot-cont div {
    margin-right: 50px;
}
#footer-bottom {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: -50px;
}
.vacuum {
    height: 30px;
}
#foot-cont div div {
    display: flex;
    justify-content: center;
}

/*main page*/
#best-products {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 25px;
    margin-left: 25px;
}
#best-product {
    width: 24%;
    font-size: large;
}
#best-product-image {
    width: 100%;
    height: 250px;
    margin-top: 3px;
}
#best-product-price {
    width: 200px;
}
/*#best-products-name {*/
    /*text-decoration: none;*/
    /*color: black;*/
/*}*/
#count-and-to-order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#product-liked-form {
    margin-top: 5px;
}
#main-add-order-btn {
    margin-left: 19%;
}
#count-and-to-order input {
    width: 60px;
    margin-right: 10px;
}
#count-and-to-order div {
    margin-top: 5px;
}
#main-input-butt {
    display: flex;
    flex-direction: row;
}
#main-input-butt button {
    margin-right: 10px;
}
#price-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#best-products-title {
    display: flex;
    justify-content: center;
}
#about-us-title {
    display: flex;
    justify-content: center;
}
#first-article-with-picture {
    display: flex;
    flex-direction: row;
}
#first-article-image {
    width: 20%;
    height: 20%;
}
#content-about-shop {
    margin-right: 25px;
    margin-left: 25px;
}

/*product*/
#product-data {
    width: 80%;
    margin: auto;
}
#main-product-description-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
#product-image {
    margin-top: 5px;
    margin-left: 5px;
    width: 300px;
    height: 300px;
}
#product-description-container {
    margin: auto;
}
#product-price {
    font-size: xx-large;
    font-weight: bold;
}
#product-price-per-one {
    font-size: larger;
}
#product-top-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#product-buy-button {
    margin-bottom: 10px;
}
#product-other-data {
    margin-bottom: 10px;
}
#product-other-data a {
    color: black;
}
.description-data {
    margin: 10px;
}
#product-button-cont {
    margin-top: 10px;
}
#product-stuff-cont input {
    width: 50px;
}
#product-count-cont {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#product-count-cont div {
    margin-top: 5px;
    margin-right: 5px;
}
#product-count-cont input {
    width: 60px;
}
/*category*/
#cat-vacuum {
    height: 10px;
}
#cat-container {
    width: 70%;
    margin: auto;
}
#cat-prod-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#cat-prod-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#cat-prod-left img {
    width: 100px;
    height: 100px;
}
#cat-prod-left h5 {
    width: 50%;
    margin-left: 10px;
}
#like-butt {
    color: transparent;
    text-shadow: 0 0 0 indianred;
}
#cat-prod-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#cat-prod-right-left {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
#cat-prod-right-right {
    display: flex;
    flex-direction: column;
}
#cat-btn-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}

#cat-prod-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#cat-prod-buttons button {
    margin-right: 5px;
}
#cat-prod-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 5px;
}
#cat-prod-form input {
    width: 60px;
    margin-left: 5px;
}

/*filter*/
#filter-form {
    width: 70%;
    margin: auto;
    margin-top: 10px;
}
#filter-form-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#filter-bottom-elems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#filter-top-elems {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
#filter-top-elems h5 {
    margin-top: 5px;
}
#filter-top-top-elems {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.filter-price-cont {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#filter-top-left-elem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10%;
    margin-top: 5px;
}
#filter-top-left-elem label {
    margin-right: 10px;
    width: 150px;
}
#filter-top-right-elem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10%;
    margin-top: 10px;
}
#filter-top-right-elem input {
    width: 110px;
    margin-right: 10px;
}
#filter-top-right-elem label {
    margin-right: 10px;
    margin-top: 5px;
}
#filter-top-elems h5 {
    margin-left: 10%;
}
#filter-bottom-elems {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.filter-bottom-elem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
    margin-right: 10%;
}
.filter-bottom-elem label {
    margin-top: 5px;
    margin-right: 5px;
    width: 100px;
    font-weight: bold;
}
.filter-bottom-elem select {
    width: 70%;
}
#filter-apply-btn {
    width: 110px;
    margin-left: 10%;
    margin-top: 10px;
}
#filter-btn-cont {
    display: flex;
    justify-content: center;
}

/*signup*/
#signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
#signup-form input {
    width: 80%;
    margin: auto;
}
#signup-form label {
    width: 80%;
    margin: auto;
    margin-top: 10px;
}
#signup-form h4 {
    margin: auto;
}
#signup-butt-cont {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    margin-left: 10%;
}

/*login*/
#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
#login-form input {
    width: 80%;
    margin: auto;
}
#login-form label {
    width: 80%;
    margin: auto;
    margin-top: 10px;
}
#login-form h4 {
    margin: auto;
}
#login-butt-cont {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    margin-left: 10%;
}

/*favorite*/
#fav-del-butt {
    color: white;
}

/*order*/
#to-checkout-cont {
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
#to-checkout-order-butt {
    width: 50%;
}
#to-checkout-order-butt button {
    width: 100%;
}
#order-total-price {
    display: flex;
    justify-content: flex-end;
}
#order-total-price h3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/*other*/
#zero-found {
    height: 100px;
}

/*checkout*/
#checkout-form {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
}
#checkout-text-cont {
    margin-left: 20px;
    margin-top: 10px;
}
#checkout-input-cont {
    margin-left: 20px;
    margin-right: 20px;
}
#checkout-input-cont textarea {
    height: 100px;
}
#checkout-butt-cont {
    display: flex;
    justify-content: center;
}
#checkout-butt {
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*success*/
#success-main-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}
#success-btn-cont {
    display: flex;
    justify-content: center;
}
#success-btn-cont button {
    width: 100%;
}
#success-btn-cont a {
    width: 40%;
}

/*notifications*/
.notific-btn {
    width: 97px;
}
.notific-main-btn {
    margin-left: 19%;
    width: 120px;
}
.notific-like {
    color: transparent;
    text-shadow: 0 0 0 blue;
    background-color: cadetblue;
}
