{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
      <title>Гелиос - онлайн магазин строительных товаров</title>
      <link rel="icon" href="{% static 'media/base/icon.jpg' %}">

        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>
    <main>
      <div id="header-top">
          <a href="#" id="city">Москва</a>
          <div id="header-top-right">
              <p>+7(906)911-66-29</p>
              <p>г.&nbspМосква&nbspул.&nbspАкадемика&nbspМиллионщикова,&nbspдом&nbsp17,&nbspпом.&nbsp1&nbspофис.№&nbsp3</p>
              <p>с 10:00 до 18:00</p>
          </div>
      </div>

    {% include 'nav.html' %}

      <div id="top-banner-cont">
        <img src="{% static 'media/main/banner.bmp' %}" id="top-banner">
      </div>

      {% block content %}
      {% endblock %}

      <footer class="bg-dark">
        <div class="vacuum"></div>
        <div id="foot-cont">
        <div id="footer-number">
          <div id="footer-number-first">Телефон:</div>
          <div id="footer-number-second">+7(906)911-66-29</div>
        </div>
        <div id="footer-email">
          <div>Почта:</div>
          <div>gelios177@list.ru</div>
        </div>
        <div id="footer-price-list">
          <div>Прайс лист:</div>
          <div><a href="{% static 'media/base/pricelist.xlsx' %}" target="_blank">Скачать</a></div>
        </div>
        </div>
        <div id="footer-bottom">ООО "Гелиос"&copy</div>
        <div class="vacuum"></div>
      </footer>
      <!--scripts for Bootstrap-->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

       <!-- jQuery -->
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

      <script src="{% static 'js/scripts.js' %}"></script>
    </main>
</body>
</html>