{% extends 'base.html' %}
{% load static %}

{% block content %}
  <form action="/checkout/" method="post" id="checkout-form" class="card">
    {% csrf_token %}
    <div id="checkout-text-cont">
      <h3>Оформление заказа</h3>
      <h4>К оплате: {{ total_order_price }} &#8381;</h4>
    </div>
    <div id="checkout-input-cont">
      <label for="checkout-form-address">Адрес доставки</label>
      <input id="checkout-form-address" class="form-control" type="text" placeholder="Адрес" name="customer_address">

      <label for="checkout-form-comment">Комментарии к заказу</label>
      <textarea id="checkout-form-comment" class="form-control" placeholder="Комментарий" name="customer_comments">
      </textarea>
    </div>

    <div id="checkout-butt-cont">
      <input id="checkout-butt" class="btn btn-success" type="submit" value="Подтвердить" name="checkout_butt">
    </div>
  </form>
{% endblock %}
