{% extends 'base.html' %}
{% load static %}

{% block content %}
  <form action="/checkout/" method="post" id="checkout-form" class="card">
    {% csrf_token %}
    <div id="checkout-text-cont">
      <h3>Оформление заказа</h3>
      <h4>К оплате: {{ total_order_price }} &#8381;</h4>
    </div>
    
    {% if not is_login %}
      <div id="checkout-new-profile">
        <label for="checkout-form-name">Имя</label>
        <input id="checkout-form-name" class="form-control" type="text" placeholder="Имя" name="customer_first_name">

        <label for="checkout-form-surname">Фамилия</label>
        <input id="checkout-form-surname" class="form-control" type="text" placeholder="Фамилия" name="customer_second_name">

        <label for="checkout-form-email">Почта</label>
        <input id="checkout-form-email" class="form-control" type="text" placeholder="Email" name="customer_email">

        <label for="checkout-form-number">Телефон</label>
        <input id="checkout-form-number" class="form-control" type="number" placeholder="+7 XXX XXXX XX XX" name="customer_number">
      </div>
    {% endif %}
    
    <div id="checkout-input-cont">
      <label for="checkout-form-address">Адрес доставки</label>
      <input id="checkout-form-address" class="form-control" type="text" placeholder="Адрес" name="customer_address">

      <label for="checkout-form-comment">Комментарии к заказу</label>
      <textarea id="checkout-form-comment" class="form-control" placeholder="Комментарий" name="customer_comments">
      </textarea>
    </div>

    <div id="checkout-butt-cont">
      <input id="checkout-butt" class="btn btn-success" type="submit" value="Подтвердить" name="checkout_butt">
    </div>
  </form>
{% endblock %}
