{% load nav_items %}
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <div id="main-nav-container">
    <div id="mini-nav-left">
      <div id="nav-icon-and-drop">
        <a class="navbar-brand" href="/">
            <img src="/static/media/base/icon.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
            Гелиос
        </a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            style="color: white">
              Категории
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="nav-dropdown">
              {% dropdown %}
            </div>
          </li>
        </ul>
      </div>
      <div id="nav-buttons-left">
        <a href="{% url 'favorites' %}"><button type="button" id="nav-liked-button" class="btn btn-outline-light"
        {% if not is_login %}disabled{% endif %}>Избранное</button></a>
        <a href="{% url 'order' %}"><button id="order-butt" type="button" class="btn btn-outline-light" href="#">Корзина</button></a>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarcontent">
      <form id="search-form" action="/search/" method="post">
        {% csrf_token %}
        <input class="form-control" type="text" name="text_search" placeholder="Search" aria-label="Search" value="{{ text_search }}" id="nav-search-input">
        <input class="btn btn-outline-success" type="submit" value="Поиск" style="width:90px" name="search_butt" id="nav-search-button">
      </form>
      <div id="auth-container">
        {% if is_login %}
          <a href="{% url 'logout' %}"><button type="button" class="btn btn-outline-success">Выход</button></a>
        {% else %}
          <a href="{% url 'login' %}"><button type="button" class="btn btn-outline-success">Вход</button></a>
        {% endif %}
        <a href="{% url 'signup' %}"><button type="button" class="btn btn-outline-success" id="nav-signup-butt">Регистрация</button></a>
      </div>
    </div>
  </div>
</nav>
