{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="cat-container">
    <h2>Заказ</h2>
    {% if len_order_data %}
      <ul class="list-group">
        {% for product, count in order_dict.items %}
          <li class="list-group-item {{ product.id }}-to-remove-order-class">
            <div id="cat-prod-container">
              <div id="cat-prod-left">
                <a href="{% url 'product' product.id %}">
                  <img src="../../static/media/{{ product.image }}" id="best-product-image">
                </a>
                <h5>{{ product.name }}</h5>
              </div>
              <div id="cat-prod-right">
                <div id="cat-prod-right-left">
                  <h3 id="best-product-price">{{ product.price }} &#8381</h3>
                  <div id="best-price-per-one">{{ product.price_per_some }}</div>
                </div>
                <div id="cat-prod-right-right">
                  <div id="cat-btn-cont">
                    <button type="button" class="btn btn-secondary to-order-butt"
                              data-product_id = "{{ product.id }}"
                              data-is_delete = "false"
                              data-loc = "main"
                              data-product_count="{{ count }}"
                              data-product_price="{{ product.price }}"
                      >Добавить</button>
                    <form class="product-stuff-cont" id="cat-prod-buttons" action="{% url 'update_order' %}">
                    {% csrf_token %}
                    <button class="btn btn-secondary to-order-butt" id="fav-del-butt"
                              data-product_id="{{ product.id }}"
                              data-is_delete="true"
                              data-loc="main"
                              data-product_count="{{ count }}"
                              data-product_price="{{ product.price }}"
                      >&#215;</button>
                    </form>
                  </div>
                  <form id="cat-prod-form" class="product-stuff-cont" action="{% url 'update_order' %}">
                    {% csrf_token %}
                    <div class="label-input-controlled">Количество:</div>
                    <input class="form-control {{ product.id }}-product-input" type="number" id="count-of-best-product"
                           min="0" max="1000000" value="{{ count }}" placeholder="0">
                  </form>
                    {% if product.is_active%}
                    <div>В наличии</div>
                  {% else %}
                    <div>Нет в наличии</div>
                  {% endif %}
                </div>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <div id="zero-found">
        <p>Ничего не найдено</p>
      </div>
    {% endif %}
      <div id="order-total-price">
        <h3>Всего:&nbsp;<div>{{ total_order_price }}</div> &#8381;</h3>
      </div>
      <div id="to-checkout-cont">
        <a href="{% url 'checkout' %}" id="to-checkout-order-butt"><button class="btn btn-success"
        {% if not correct_order %}disabled{% endif %}>Оформить заказ</button></a>
      </div>
  </div>
  <div id="cat-vacuum"></div>
{% endblock %}
