{% extends 'base.html' %}
{% load static %}

{% block content %}
      <div id="cat-container">
    <h2>Заказ</h2>
    <ul class="list-group">
      {% for product, count in order_dict.items %}
        <li class="list-group-item {{ product.id }}-to-remove-order-class">
          <div id="cat-prod-container">
            <div id="cat-prod-left">
              <a href="{% url 'product' product.id %}">
                <img src="../../static/media/{{ product.image }}" id="best-product-image">
              </a>
              <h5>{{ product.name }}</h5>
            </div>
            <div id="cat-prod-right">
              <div id="cat-prod-right-left">
                <h3 id="best-product-price">{{ product.price }} &#8381</h3>
                <div id="best-price-per-one">{{ product.price_per_some }}</div>
              </div>
              <div id="cat-prod-right-right">
                <form class="product-stuff-cont" id="cat-prod-buttons" action="{% url 'update_order' %}">
                  {% csrf_token %}
                  <button class="btn btn-secondary to-order-butt" id="fav-del-butt"
                          data-product_id = "{{ product.id }}"
                          data-is_delete="true"
                          data-loc="main"
                  >&#215;</button>
                </form>
                <form id="cat-prod-form" class="product-stuff-cont" action="{% url 'update_order' %}">
                  {% csrf_token %}
                  <div class="label-input-controlled">Количество:</div>
                  <input class="form-control {{ product.id }}-product-input" type="number" id="count-of-best-product"
                         min="0" max="1000000" value="{{ count }}" placeholder="0">
                  <button type="button" class="btn btn-secondary to-order-butt"
                          data-product_id = "{{ product.id }}"
                          data-is_delete = "false"
                          data-loc = "main"
                  >Добавить</button>
                </form>                {% if product.is_active%}
                  <div>В наличии</div>
                {% else %}
                  <div>Нет в наличии</div>
                {% endif %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
    {% if correct_order %}
    <div id="to-checkout-cont">
      <button class="btn btn-primary" id="to-checkout-order-butt">Оформить заказ</button>
    </div>
    {% endif %}
  </div>
  <div id="cat-vacuum"></div>
{% endblock %}
