{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div id="product-data">
    <h1 id="product-title">{{ product_ex.name }}</h1>
    <div class="card" id="main-product-description-container">
      <img src="../../static/media/{{ product_ex.image }}" id="product-image">
      <div id="product-description-container">
        <div id="product-top-description">
          <div id="product-price-per-one">{{ product_ex.price_per_some }}:</div>
          <div id="product-price">{{ product_ex.price }}&#8381;</div>
          {% if product_ex.is_active%}
            <div>В наличии</div>
          {% else %}
            <div>Нет в наличии</div>
          {% endif %}
          <form id="product-stuff-cont" action="{% url 'update_order' %}">
            {% csrf_token %}
            <div id="product-count-cont">
              <div>Количество:</div>
              <input class="form-control" id="product-to-order-count" type="number"
                     min="0" max="1000000" value="1" placeholder="0">
            </div>
            <div id="product-button-cont">
              <button type="submit" class="btn btn-secondary {{ product_ex.id }}-to-hide-btn" id="product-to-order-butt"
                      data-product_id = "{{ product_ex.id }}"
                      data-is_delete="false"
                      data-loc="product"
              >Добавить</button>
              <button hidden disabled class="btn btn-success notific-btn {{ product_ex.id }}-notific-btn">Успешно</button>
            </div>
          </form>
          <form id="product-liked-form" action="{% url 'update_favorites' %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-secondary {{ product_ex.id }}-to-hide-like" id="like-butt"
              {% if not is_login %} disabled {% endif %}
                      data-product_id = "{{ product_ex.id }}"
                      data-is_delete="false"
                      data-loc="product"
              >&#10084;</button>
              <button hidden disabled class="btn notific-like {{ product_ex.id }}-notific-like">&#10084;</button>
          </form>
        </div>
      </div>
    </div>
    <div id="product-other-data" class="card">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active nav-item">
          <a class="nav-link" href="#characteristics" aria-controls="characteristics" role="tab" data-toggle="tab">Характеристики</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" href="#description" aria-controls="description" role="tab" data-toggle="tab">Описание</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" href="#delivery" aria-controls="delivery" role="tab" data-toggle="tab">Доставка</a>
        </li>
      </ul>
      <div class="tab-content product-description-tabs">
        <div role="tabpanel" class="tab-pane active description-data" id="characteristics">
          {% for line in characteristic_lines %}
            <div>{{ line }}</div>
          {% endfor %}
        </div>
        <div role="tabpanel" class="tab-pane description-data" id="description">
          {% for line in description_lines %}
            <div>&emsp;{{ line }}</div>
          {% endfor %}
        </div>
        <div role="tabpanel" class="tab-pane description-data" id="delivery">
          Информация о доставке.
        </div>
      </div>
    </div>
  </div>
  <h3 id="recommend-title">Вам также могут понравиться:</h3>
  <div id="product-recommend-cont">
    {% for product in recommended_products %}
      <div class="card" id="recommend-best-product">
        <a href="{% url 'product' product.id %}">
          <img src="../../static/media/{{ product.image }}" id="recommend-product-image">
        </a>
        <div class="card-body">
            {{ product.name|truncatechars_html:15 }}
          <div id="recommend-price-data">
            <h5 id="recommend-product-price">{{ product.price }} &#8381</h5>
          </div>
          <form id="cat-prod-form" class="product-stuff-cont" action="{% url 'update_order' %}">
            {% csrf_token %}
            <div class="label-input-controlled">Количество:</div>
            <input class="form-control {{ product.id }}-product-input" type="number" id="count-of-best-product"
                   min="0" max="1000000" value="1" placeholder="0">
          </form>
          <div id="recommend-count-and-to-order">
            <button type="button" class="btn btn-secondary to-order-butt {{ product.id }}-to-hide-btn"
                      data-product_id = "{{ product.id }}"
                      data-is_delete = "false"
                      data-loc = "main"
              >Добавить</button>
            <button hidden disabled class="btn btn-success notific-btn {{ product.id }}-notific-btn">Успешно</button>
            <form class="product-liked-form" action="{% url 'update_favorites' %}">
              {% csrf_token %}
              <button class="btn btn-secondary like-butt {{ product.id }}-to-hide-like" id="like-butt"
              {% if not is_login %} disabled {% endif %}
                      data-product_id = "{{ product.id }}"
                      data-is_delete="false"
                      data-loc="main"
              >&#10084;</button>
              <button hidden disabled class="btn notific-like {{ product.id }}-notific-like">&#10084;</button>
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
