{% extends 'base.html' %}
{% load static %}

{% block content %}
  <form action="/signup/" method="post" id="signup-form" class="card">
    <h4>Регистрация</h4>
    {% csrf_token %}
    <label for="signup-form-name">Логин</label>
    <input id="signup-form-name" class="form-control" type="text" placeholder="Логин" name="user_login">

    <label for="signup-form-name">Имя</label>
    <input id="signup-form-name" class="form-control" type="text" placeholder="Имя" name="user_name">

    <label for="signup-form-surname">Фамилия</label>
    <input id="signup-form-surname" class="form-control" type="text" placeholder="Фамилия" name="user_surname">

    <label for="signup-form-email">Почта</label>
    <input id="signup-form-email" class="form-control" type="text" placeholder="Email" name="user_email">

    <label for="signup-form-number">Телефон</label>
    <input id="signup-form-number" class="form-control" type="number" placeholder="+7 XXX XXXX XX XX" name="user_phone_number">

    <label for="signup-form-password">Пароль</label>
    <input id="signup-form-password" class="form-control" type="text" placeholder="Пароль" name="user_password">

    <label for="signup-form-password-again">Повтор</label>
    <input id="signup-form-password-again" class="form-control" type="text" placeholder="Пароль" name="user_password_again">

    <div id="signup-butt-cont">
    <input id="signup-butt" class="btn btn-outline-warning" type="submit" value="Зарегистрироваться" name="signup_butt">
    </div>
  </form>
{% endblock %}
